header {
    height: 750px;
    background: url("photobank/horse-430441_1920.jpg") no-repeat;
    background-size: 100% 100%;
}

header a {
   text-decoration: none;
   color: white;
   font-style: bold;
   font-size: 25px;
   font-family: arial;
}

body {
    margin: 0px;
    padding: 0px;
}

.logo {
    font-family: arial;
    font-size: 40px;
    color: white;
    display: block;
    float: right;
    text-shadow: 5px 5px 5px gray;
    padding-top: 50px;
    padding-right: 60px;
}

.horizontal-menu {
    list-style: none;
    padding-top: 70px;
    height: 30px;
    margin-left: -40px;
    
}

.horizontal-menu > li {
    display: inline-block;
    position: relative;  
    border: 0.5px dotted white;
    
}

.horizontal-menu a {
    display: block;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 15px;
   font-size: 20px;
}

.horizontal-menu .sub-menu {
   position: absolute;
   list-style: none;
   width: 100%;
   height: 15px;
    position: absolute;
    display: none;
    left: -40px;
}

.horizontal-menu a:hover {
    color: black;
    background: white;
    
}

.horizontal-menu > li:hover .sub-menu {
    display: inline-block;
}

.sub-menu li {
   width: 150px;
    margin-top: 3px;
    margin-top: -2px;
}

.main-menu {
   background: #f5f5f5;
   padding: 40px;
}

.main-menu h1 {
    text-align: center;
    font-family: arial;
    font-size: 30px;
    display: block;
    color: gray;
}

.main-menu h3 {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    
}

.main-menu ul {
    display: block;
    list-style: none;
    
}

.main-menu li {
    display: block;
    width: 350px;
    height: 650px;
    background: #ffffff;
    font-family: arial;
    line-height: 22px;
    color: gray;
    
}

.humming-bird {
    float: right;
    margin-right: 90px;
}

.tiger {
    float: left;
    margin-right: 90px;
    margin-left: 80px;
}

.flamingo {
    float: left;
    margin-right: 80px;
}

.animal1-description,
.animal2-description,
.animal3-description {
   display: inine-block;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}

.clearfix {
    clear: both;
    height: 0px;
}

.problem-description {
    display: inline-block;
    font-family: arial;
    font-size: 40px;  
    width: 800px;
    text-align: center;
    height: 70px;
    padding-top: 30px; 
    background: rgba(255,255,255,0.2);
    margin-top: 25px;
    position: relative;
    right: 900px;
    transform: translateX(900px);
    transition-timing-function: linear;
    transition-duration: 15s;
}

.problem-description a {
   text-decoration: none;
   color: white;
   text-shadow: 1px 1px 1px gray;
}

.problem-description a:hover {
    color: #35170c;
}

.problem-description::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    position: absolute;
    left: 750px;
    margin-top: -77px;
    transform: rotate(45deg);
}

.secondary-menu {
    background: url("photobank/леопард-потягивается.jpg") no-repeat;
    width: 100%;
    height: 600px; 
}

footer a,
.share {
    text-decoration: none;
    font-family: arial;
    display: inline-block;
    position: relative;
}

.share,
.contacts {
    display: inline-block;
    position: relative;
    padding: 30px;
    left: 550px;
}

.social {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background: #bdc3c7 url("photobank/SPRITE_social_network.jpg") no-repeat;
    vertical-align: middle;
    
}

.social-vk {
    background-color: #6d8fb3;
    background-position: -14px -13px ;
}

.social-fb {
    background-color: #526da3;
    background-position: -59px -13px;
}

.social-tw {
    background-color: #73bfe6;
    background-position: -103px -13px;
}
